audioread==3.0.1
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
msgpack==1.0.8
numba==0.60.0
pooch==1.8.2
pyarrow-hotfix==0.6
scikit-learn==1.5.1
scipy==1.14.0
soundfile==0.12.1
soxr==0.4.0
threadpoolctl==3.5.0
torchaudio==2.6.0